<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.bbako.mapper.MemberMapper" >

	<insert id="insertMember" parameterType="org.bbako.domain.MemberVO">
		insert into member(USERID,USERPW,USERNAME,EMAIL) values (#{userid},#{userpw},#{username},#{email})
	</insert>
	
	<select id="getTime" resultType="String">
		SELECT SYSTIMESTAMP FROM DUAL
	</select>
	
	
	<select id="readMember" parameterType="String" resultType="org.bbako.domain.MemberVO">
		select * from member where userid = #{userid}
	</select>
	
	<select id="readWithPW" parameterType="Map" resultType="org.bbako.domain.MemberVO">
		select * from member where userid = #{userid} and userpw = #{userpw}
	</select>
 
</mapper>